@media only screen and (max-width: 600px) {
  body {
    font-size: 10px;
    padding: 3vh 3vw 0 3vw;
    font-family: "Karla", sans-serif;
  }
  header {
    display: flex;
    justify-content: center;
  }
  header h2 {
    font-size: 1rem;
  }
  nav ul {
    display: none;
  }
  .image-section1,
  .image-section2,
  .image-section3,
  .image-section4,
  .image-section5 {
    display: block;
    width: 100%;
    grid-gap: 20px;
  }
  img:hover {
    opacity: 0.3;
  }
  .image-section1:nth-of-type(1) img,
  .image-section2:nth-of-type(2) img,
  .image-section3:nth-of-type(3) img,
  .image-section4:nth-of-type(4) img,
  .image-section5:nth-of-type(5) img {
    width: 100%;
    height: auto;
  }
  .bottom-image-container {
    display: flex;
    justify-content: space-between;
    padding: 1vh 1vw 2vh 1vw;
  }
  .bottom-image-container h4,
  .bottom-image-container span {
    font-size: 0.8rem;
    font-weight: bold;
    color: #323a45;
    width: 30vw;
  }
  .bottom-image-container h5 {
    font-size: 0.6rem;
    font-weight: 100;
  }
  footer {
    display: flex;
    flex-direction: column;
    margin: 20vh auto;
    padding: 20px;
  }
  footer article {
    display: flex;
    flex-direction: column;
    gap: 10vh;
  }
  footer article div {
    width: 70vw;
    margin: 0 auto;
  }

  #newsletter-section {
    margin: 30vh auto;
    width: 80vw;
    padding: 30px;
  }
  #newsletter-section h2 {
    font-size: 1.2rem;
  }
  #newsletter-section p {
    font-size: 0.8rem;
  }
  #input-container input {
    width: 50vw;
  }
  #input-container button {
    width: 15vw;
  }
  #confirmation-page {
    border-radius: 5px;
    width: 70vw;
  }
  #confirmation-page h4 {
    font-size: 1.2rem;
  }
  #confirmation-page a {
    width: 15vw;
    padding: 6px 15px;
    margin-left: 25vw;
    font-size: 0.7rem;
  }
}
